<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<h1><b>”чебник тэгов.</b></h1>
		<h2>—истемные тэги:</h2>
		<body>
        <table border="1">
			<tr>
				<td>
					<h3> &lt; html &gt; &lt; /html &gt; </h3>
					“ег &lt;html&gt; €вл€етс€ контейнером, который заключает в себе все содержимое веб-страницы. ќткрывающий и закрывающий теги &lt;html&gt; в документе необ€зательны, но хороший стиль диктует непременное их использование.  ак правило, тег &lt;html&gt; идет в документе вторым, после определени€ типа документа (Document Type Definition, DTD), устанавливаемого через элемент &lt;!DOCTYPE html&gt;. «акрывающий тег &lt;html&gt; должен всегда сто€ть в документе последним.
				</td>
			</tr>
        </table>
		
        <table border="1">
			<tr>
				<td>
					<h3> &lt; html &gt; &lt; /html &gt; </h3>
					“ег &lt;html&gt; €вл€етс€ контейнером, который заключает в ceбе все содержимое веб-страницы. ќткрывающий и закрывающий теги &lt;html&gt; в документе необ€зательны, но хороший стиль диктует непременное их использование.  ак правило, тег &lt;html&gt; идет в документе вторым, после определени€ типа документа (Document Type Definition, DTD), устанавливаемого через элемент &lt;!DOCTYPE html&gt;. «акрывающий тег &lt;html&gt; должен всегда сто€ть в документе последним.
				</td>
			</tr>
        </table>
		
		</body>
	<body/>
</html>

